<div class = "main-outer-cnt">
    <div class = "upper-outer-cnt">
        <span>Order placed successfully</span>
        <img src="../../assets/celebration.jpg" alt="congrates-pic">
        <span>hurray!!! your order is confirmed <br>
            the order id is #12345 save the order id for <br>
                further communication</span>
    </div>
    <div class = 'info-outer-cnt'>
        <table>
            <tr align="center">
                <th class="headers">Email us</th>
                <th class="headers">Contact us</th>
                <th class="headers">Address</th>
            </tr>
            <tr align="center">
                <td class="data">admin@bookstore.com</td>
                <td class="data">+91 6363286220</td>
                <td class="data">42, 14th Main, 15th Cross, Sector 4 ,opp to BDA<br>
                     complex, near Kumarakom restaurant, HSR Layout,<br>
                      Bangalore 560034</td>
            </tr>
        </table>
    </div>
    <div class="Continue-shopping-btn">
        <button  (click)="navigateToHome()">Continue Shopping</button>
    </div>
</div>
